.edit-pass-container {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    border-radius: 20px;
}

.error-display-container {
    background-color: rgb(254, 194, 194);
    color: rgb(139, 47, 47);
    border: 1px solid rgb(139, 47, 47);
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
}


.success-display-container {
    background-color: rgb(191, 238, 191);
    color: green;
    border: 1px solid green;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {

    .edit-pass-container {


        padding: 4px;

    }
}